* {
  margin: 0;
  padding: 0;
}
@mixin media-query($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}
body {
  font-family: "Inter", sans-serif;
  background-color: #ffeceb;
  margin: 30px auto;
}
@include media-query(1024px) {
  body {
    width: 1024px;
  }
}

.navigation {
  background-color: #ffeceb;
  display: flex;
  justify-content: space-around;
  &__logo {
    margin-left: 3%;
  }
  &__checkbox {
    display: none;
  }
  &__list {
    margin-right: 25px;
    display: none;
    flex-basis: 100%;
  }
  &__item {
    list-style: none;
    &--login {
      text-decoration: none;
      color: red;
      font-size: larger;
    }
    &--login:hover {
      text-decoration: none;
      color: blue;
    }
  }
  &__link {
    display: flex;
    text-decoration: none;
    color: #6a6a6a;
    font-size: larger;
    // width: 85px;
  }
  &__unordered {
    display: flex;
    gap: 15px;
    flex-direction: column;
  }
  &__hamburger {
    margin: 10px 25px 10px 25px;
    background-color: transparent;
    border: none;
  }
  &__link:hover {
    color: red;
  }
  &__checkbox:checked + &__hamburger + &__list {
    display: flex;
  }
}
@include media-query(600px) {
  .navigation {
    justify-content: space-between;
    &__checkbox:checked + &__hamburger + &__list {
      display: none;
    }
    &__list {
      display: flex;
    }
    &__hamburger {
      display: none;
    }
    &__unordered {
      display: flex;
      flex-direction: row;
      gap: 15px;
    }
  }
}
.hero {
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
  justify-content: center;

  &__introduction {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
  }
  &__para1 {
    color: #ff3998;
    font-weight: 900;
    margin-bottom: 5px;
    text-justify: right;
    margin-left: 25px;
  }
  &__header {
    color: black;
    font-weight: 900;
    font-size: xx-large;
    margin-bottom: 5px;
    text-justify: right;
    margin-left: 25px;
  }
  &__para2 {
    color: black;
    font-weight: 900;
    margin-bottom: 5px;
    text-justify: right;
    margin-left: 25px;
  }
  &__image-container {
    position: relative;
    height: auto;
    width: 100%;
    overflow: hidden;
  }
  &__image {
    position: absolute;
    top: 0;
    left: 90%;
    height: 100%;
    width: auto;
    transform: translateX(-50%);
  }
  &__button {
    margin-top: 15px;
    align-self: center;
    background: transparent;
    padding: 25px 30px;
    background-image: linear-gradient(90deg, white, white),
      linear-gradient(90deg, hsl(289, 65%, 64%), hsl(226, 78%, 67%));
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: 3px solid transparent;
    border-radius: 25px;
  }
  &__button:hover {
    cursor: pointer;
  }
}
@include media-query(600px) {
  .hero {
    &__introduction {
      justify-content: center;
      margin-left: 50px;
    }
    &__image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: static;
    }
    &__image {
      position: static;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: translateX(0);
    }
  }
}
.promotion {
  height: 250px;
  background-image: url(./assets/background.svg);
  background-position: left center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  &__header {
    font-weight: 900;
    font-size: x-large;
    text-justify: right;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
  }
  &__para {
    text-justify: right;
    margin-left: 25px;
    margin-right: 25px;
  }
}
@include media-query(600px) {
  .promotion {
    background-position: 100%;
    border-radius: 10px;
  }
}
.sponsor {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25%;
  gap: 15px;
  margin-left: 15px;
  &__logo {
    display: flex;
    justify-content: center;
    width: 75%;
    height: 100%;
    &--last {
      grid-row-start: 3;
      grid-column-end: span 2;
      justify-self: center;
    }
  }
}
@include media-query(600px) {
  .sponsor {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    margin-top: 25px;
    &__logo {
      &--last {
        grid-row-start: 1;
        grid-column-start: 5;
        grid-column-end: 6;
      }
    }
  }
}
.nft {
  margin-top: 25px;
  &__introduction {
    display: flex;
    flex-direction: column;
    width: 75%;
  }
  &__header {
    color: black;
    font-weight: 900;
    font-size: xx-large;
    margin-bottom: 5px;
    text-justify: right;
    margin-left: 25px;
  }
  &__intro {
    color: rgb(70, 69, 69);
    font-weight: 600;
    margin-bottom: 5px;
    text-justify: right;
    margin-left: 25px;
    line-height: 1.5;
  }
  &__link {
    text-decoration: underline;
  }
  &__link:visited {
    color: inherit;
  }
}

.carousel {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  // margin-left: 10px;
  &__image {
    width: 50vw;
  }
  &__content {
    background-color: rgb(182, 182, 182);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
  }
  &__top {
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
    font-size: small;
    &--gold {
      color: gold;
    }
    &--grey {
      color: rgb(20, 20, 20);
    }
  }
  &__middle {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;

    &--header,
    &--para {
      align-self: center;
      font-size: small;
      margin: 0;
    }
    &--para {
      display: flex;
      align-items: center;
    }
    &--eth {
      margin-right: 5px;
    }
  }
  &__bottom {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
    align-items: flex-end;
    margin-bottom: 10px;
    font-size: x-small;
    &--para1,
    &--para2 {
      margin: 0;
    }
  }
}
@include media-query(600px) {
  .card {
    &__image {
      width: 35vw;
    }
  }
}
@include media-query(1024px) {
  .carousel {
    display: flex;
    justify-content: space-around;
    // gap: 30px;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    scroll-snap-type: none;
    overflow-x: hidden;
  }
  .card {
    &__image {
      width: 100%;
    }
    &__content {
      width: 100%;
    }
  }
}

.sign {
  display: flex;
  margin-top: 45px;
  margin-bottom: 25px;
  position: relative;
  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__introduction {
    display: flex;
    flex-direction: column;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    position: relative;
    z-index: 1;
    margin-bottom: 25px;
  }
  &__introduction2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid grey;
  }
  &__para1 {
    margin-top: 25px;
    color: #ff3998;
    font-weight: 900;
    margin-bottom: 5px;
    text-justify: right;
    margin-left: 25px;
    width: 50%;
  }
  &__header {
    margin-top: 25px;
    color: black;
    font-weight: 900;
    font-size: xx-large;
    margin-bottom: 5px;
    text-justify: right;
    margin-left: 25px;
    width: 50%;
    position: relative;
    z-index: 1;
  }
  &__para2 {
    margin-top: 25px;
    position: relative;
    z-index: 1;
    color: #ff3998;
    font-weight: 900;
    margin-bottom: 5px;
    text-justify: right;
    margin-left: 25px;
    width: 50%;
  }
  &__button {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 25px;
    align-self: flex-start;
    background: transparent;
    padding: 25px 30px;
    background-image: linear-gradient(90deg, white, white),
      linear-gradient(90deg, hsl(289, 65%, 64%), hsl(226, 78%, 67%));
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: 3px solid transparent;
    border-radius: 25px;
    position: relative;
    z-index: 1;
  }
  &__button:hover {
    cursor: pointer;
  }
  &__image-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
@include media-query(1024px) {
  .sign {
    // height: 300px;
    &__introduction {
      border-bottom: none;
    }
    &__image-container {
      justify-content: center;
      &--image {
        margin-left: 50%;
      }
    }
  }
}
.footer {
  &__top {
    margin-left: 25px;
    &--para {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
  &__socials {
    &--icons {
      margin-right: 3px;
      width: 25px;
      height: 25px;
    }
  }
  &__links {
    margin-top: 25px;
    margin-left: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    &--label {
      font-size: large;
      font-weight: 800;
    }
    &--center {
      flex-direction: column;
      margin-bottom: 15px;
    }
  }
  &__links > div {
    flex: 0 0 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  &__list {
    margin-top: 5px;
    text-align: left;
  }
  &__item {
    list-style: none;
    margin-top: 10px;
  }
  &__link {
    color: black;
    text-decoration: none;
  }
  &__bottom {
    margin: 25px;
    display: flex;
    justify-content: space-between;
    &--para {
      color: rgb(175, 174, 174);
      font-weight: 900;
    }
  }
}
@include media-query(1024px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__links {
      align-items: flex-start;
      margin-top: 0;
      margin-left: 0;
      flex-wrap: nowrap;
    }
    &__links > div {
      flex: 0 0 25%;
    }
    &__link:hover {
      color: red;
    }
  }
  .footer > div {
    flex: 0 0 calc(50% - 2%);
  }
  .footer > div:nth-child(3) {
    flex-basis: 98%;
  }
}
