* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ffeceb;
  margin: 30px auto;
}

@media screen and (min-width: 1024px) {
  body {
    width: 1024px;
  }
}
.navigation {
  background-color: #ffeceb;
  display: flex;
  justify-content: space-around;
}
.navigation__logo {
  margin-left: 3%;
}
.navigation__checkbox {
  display: none;
}
.navigation__list {
  margin-right: 25px;
  display: none;
  flex-basis: 100%;
}
.navigation__item {
  list-style: none;
}
.navigation__item--login {
  text-decoration: none;
  color: red;
  font-size: larger;
}
.navigation__item--login:hover {
  text-decoration: none;
  color: blue;
}
.navigation__link {
  display: flex;
  text-decoration: none;
  color: #6a6a6a;
  font-size: larger;
}
.navigation__unordered {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.navigation__hamburger {
  margin: 10px 25px 10px 25px;
  background-color: transparent;
  border: none;
}
.navigation__link:hover {
  color: red;
}
.navigation__checkbox:checked + .navigation__hamburger + .navigation__list {
  display: flex;
}

@media screen and (min-width: 600px) {
  .navigation {
    justify-content: space-between;
  }
  .navigation__checkbox:checked + .navigation__hamburger + .navigation__list {
    display: none;
  }
  .navigation__list {
    display: flex;
  }
  .navigation__hamburger {
    display: none;
  }
  .navigation__unordered {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}
.hero {
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
  justify-content: center;
}
.hero__introduction {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
}
.hero__para1 {
  color: #ff3998;
  font-weight: 900;
  margin-bottom: 5px;
  text-justify: right;
  margin-left: 25px;
}
.hero__header {
  color: black;
  font-weight: 900;
  font-size: xx-large;
  margin-bottom: 5px;
  text-justify: right;
  margin-left: 25px;
}
.hero__para2 {
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
  text-justify: right;
  margin-left: 25px;
}
.hero__image-container {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
}
.hero__image {
  position: absolute;
  top: 0;
  left: 90%;
  height: 100%;
  width: auto;
  transform: translateX(-50%);
}
.hero__button {
  margin-top: 15px;
  align-self: center;
  background: transparent;
  padding: 25px 30px;
  background-image: linear-gradient(90deg, white, white), linear-gradient(90deg, hsl(289, 65%, 64%), hsl(226, 78%, 67%));
  background-clip: padding-box, border-box;
  background-origin: border-box;
  border: 3px solid transparent;
  border-radius: 25px;
}
.hero__button:hover {
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .hero__introduction {
    justify-content: center;
    margin-left: 50px;
  }
  .hero__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
  }
  .hero__image {
    position: static;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(0);
  }
}
.promotion {
  height: 250px;
  background-image: url(./assets/background.svg);
  background-position: left center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}
.promotion__header {
  font-weight: 900;
  font-size: x-large;
  text-justify: right;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 15px;
}
.promotion__para {
  text-justify: right;
  margin-left: 25px;
  margin-right: 25px;
}

@media screen and (min-width: 600px) {
  .promotion {
    background-position: 100%;
    border-radius: 10px;
  }
}
.sponsor {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25%;
  gap: 15px;
  margin-left: 15px;
}
.sponsor__logo {
  display: flex;
  justify-content: center;
  width: 75%;
  height: 100%;
}
.sponsor__logo--last {
  grid-row-start: 3;
  grid-column-end: span 2;
  justify-self: center;
}

@media screen and (min-width: 600px) {
  .sponsor {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    margin-top: 25px;
  }
  .sponsor__logo--last {
    grid-row-start: 1;
    grid-column-start: 5;
    grid-column-end: 6;
  }
}
.nft {
  margin-top: 25px;
}
.nft__introduction {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.nft__header {
  color: black;
  font-weight: 900;
  font-size: xx-large;
  margin-bottom: 5px;
  text-justify: right;
  margin-left: 25px;
}
.nft__intro {
  color: rgb(70, 69, 69);
  font-weight: 600;
  margin-bottom: 5px;
  text-justify: right;
  margin-left: 25px;
  line-height: 1.5;
}
.nft__link {
  text-decoration: underline;
}
.nft__link:visited {
  color: inherit;
}

.carousel {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.card__image {
  width: 50vw;
}
.card__content {
  background-color: rgb(182, 182, 182);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
}
.card__top {
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
  padding-left: 7%;
  padding-right: 7%;
  font-size: small;
}
.card__top--gold {
  color: gold;
}
.card__top--grey {
  color: rgb(20, 20, 20);
}
.card__middle {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  padding-left: 7%;
  padding-right: 7%;
}
.card__middle--header, .card__middle--para {
  align-self: center;
  font-size: small;
  margin: 0;
}
.card__middle--para {
  display: flex;
  align-items: center;
}
.card__middle--eth {
  margin-right: 5px;
}
.card__bottom {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  padding-left: 7%;
  padding-right: 7%;
  align-items: flex-end;
  margin-bottom: 10px;
  font-size: x-small;
}
.card__bottom--para1, .card__bottom--para2 {
  margin: 0;
}

@media screen and (min-width: 600px) {
  .card__image {
    width: 35vw;
  }
}
@media screen and (min-width: 1024px) {
  .carousel {
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    scroll-snap-type: none;
    overflow-x: hidden;
  }
  .card__image {
    width: 100%;
  }
  .card__content {
    width: 100%;
  }
}
.sign {
  display: flex;
  margin-top: 45px;
  margin-bottom: 25px;
  position: relative;
}
.sign__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sign__introduction {
  display: flex;
  flex-direction: column;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  position: relative;
  z-index: 1;
  margin-bottom: 25px;
}
.sign__introduction2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}
.sign__para1 {
  margin-top: 25px;
  color: #ff3998;
  font-weight: 900;
  margin-bottom: 5px;
  text-justify: right;
  margin-left: 25px;
  width: 50%;
}
.sign__header {
  margin-top: 25px;
  color: black;
  font-weight: 900;
  font-size: xx-large;
  margin-bottom: 5px;
  text-justify: right;
  margin-left: 25px;
  width: 50%;
  position: relative;
  z-index: 1;
}
.sign__para2 {
  margin-top: 25px;
  position: relative;
  z-index: 1;
  color: #ff3998;
  font-weight: 900;
  margin-bottom: 5px;
  text-justify: right;
  margin-left: 25px;
  width: 50%;
}
.sign__button {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 25px;
  align-self: flex-start;
  background: transparent;
  padding: 25px 30px;
  background-image: linear-gradient(90deg, white, white), linear-gradient(90deg, hsl(289, 65%, 64%), hsl(226, 78%, 67%));
  background-clip: padding-box, border-box;
  background-origin: border-box;
  border: 3px solid transparent;
  border-radius: 25px;
  position: relative;
  z-index: 1;
}
.sign__button:hover {
  cursor: pointer;
}
.sign__image-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 1024px) {
  .sign__introduction {
    border-bottom: none;
  }
  .sign__image-container {
    justify-content: center;
  }
  .sign__image-container--image {
    margin-left: 50%;
  }
}
.footer__top {
  margin-left: 25px;
}
.footer__top--para {
  margin-top: 10px;
  margin-bottom: 20px;
}
.footer__socials--icons {
  margin-right: 3px;
  width: 25px;
  height: 25px;
}
.footer__links {
  margin-top: 25px;
  margin-left: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer__links--label {
  font-size: large;
  font-weight: 800;
}
.footer__links--center {
  flex-direction: column;
  margin-bottom: 15px;
}
.footer__links > div {
  flex: 0 0 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.footer__list {
  margin-top: 5px;
  text-align: left;
}
.footer__item {
  list-style: none;
  margin-top: 10px;
}
.footer__link {
  color: black;
  text-decoration: none;
}
.footer__bottom {
  margin: 25px;
  display: flex;
  justify-content: space-between;
}
.footer__bottom--para {
  color: rgb(175, 174, 174);
  font-weight: 900;
}

@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer__links {
    align-items: flex-start;
    margin-top: 0;
    margin-left: 0;
    flex-wrap: nowrap;
  }
  .footer__links > div {
    flex: 0 0 25%;
  }
  .footer__link:hover {
    color: red;
  }
  .footer > div {
    flex: 0 0 48%;
  }
  .footer > div:nth-child(3) {
    flex-basis: 98%;
  }
}

/*# sourceMappingURL=styles.css.map */
