@include media-query(600px) {
  .navigation {
    justify-content: space-between;
    &__checkbox:checked + &__hamburger + &__list {
      display: none;
    }
    &__list {
      display: flex;
    }
    &__hamburger {
      display: none;
    }
    &__unordered {
      display: flex;
      flex-direction: row;
      gap: 15px;
    }
  }
  .hero {
    &__introduction {
      justify-content: center;
      margin-left: 50px;
    }
    &__image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: static;
    }
    &__image {
      position: static;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: translateX(0);
    }
  }
  .promotion {
    background-position: 100%;
    border-radius: 10px;
  }
  .sponsor {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    margin-top: 25px;
    &__logo {
      &--last {
        grid-row-start: 1;
        grid-column-start: 5;
        grid-column-end: 6;
      }
    }
  }
  .card {
    &__image {
      width: 35vw;
    }
  }
  .footer {
    &__bottom {
      margin: 25px 25px 0px 25px;
      display: flex;
      justify-content: space-between;
      &--para {
        font-size: medium;
      }
    }
  }
}

@include media-query(1024px) {
  body {
    width: 1024px;
  }
  .carousel {
    display: flex;
    justify-content: space-around;
    // gap: 30px;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    scroll-snap-type: none;
    overflow-x: hidden;
  }
  .card {
    &__image {
      width: 100%;
    }
    &__content {
      width: 100%;
    }
  }
  .sign {
    // height: 300px;
    &__introduction {
      border-bottom: none;
    }
    &__image-container {
      justify-content: center;
      &--image {
        margin-left: 50%;
      }
    }
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__links {
      align-items: flex-start;
      margin-top: 0;
      margin-left: 0;
      flex-wrap: nowrap;
    }
    &__links > div {
      flex: 0 0 25%;
    }
    &__link:hover {
      color: red;
    }
  }
  .footer > div {
    flex: 0 0 calc(50% - 2%);
  }
  .footer > div:nth-child(3) {
    flex-basis: 98%;
  }
}
