.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  // margin-left: 10px;
  &__image {
    width: 50vw;
  }
  &__content {
    background-color: rgb(182, 182, 182);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
  }
  &__top {
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
    font-size: small;
    &--gold {
      color: gold;
    }
    &--grey {
      color: rgb(20, 20, 20);
    }
  }
  &__middle {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;

    &--header,
    &--para {
      align-self: center;
      font-size: small;
      margin: 0;
    }
    &--para {
      display: flex;
      align-items: center;
    }
    &--eth {
      margin-right: 5px;
    }
  }
  &__bottom {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
    align-items: flex-end;
    margin-bottom: 10px;
    font-size: x-small;
    &--para1,
    &--para2 {
      margin: 0;
    }
  }
}
