.navigation {
  &__unordered {
    display: flex;
    gap: 15px;
    flex-direction: column;
  }
  &__hamburger {
    margin: 10px 25px 10px 25px;
    background-color: transparent;
    border: none;
  }
  &__link:hover {
    color: red;
  }
  &__link {
    display: flex;
    text-decoration: none;
    color: #6a6a6a;
    font-size: large;
    flex-direction: column;
  }
  &__checkbox:checked + &__hamburger + &__list {
    display: flex;
    justify-content: start;
  }
}
